html {
    // Photo by Kunal Shinde on Unsplash.
    background: url(../img/nature.jpg) no-repeat center fixed;
    background-size: cover;
}

.page-container {
    background-color: rgb(35, 35, 35);
    padding: 50px;
    border-radius: 15px;
    margin: 50px 50px 20px 250px;
    //margin: 5% 0 0 10%;
    height: 600px;
    position: relative;
    box-shadow: 0 0 75px black;
}

.task-container {
    background-color: #424242;
    border-radius: 15px;
    padding: 10px 25px 25px 25px;
}

@media only screen and (max-width: 800px) {
    .page-container {
        margin: 20px;
    }
}


/* don't know what this is
@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; // The width is 100%, when the viewport is 800px or smaller
    }
  }
*/



