html {
    // Photo by Kunal Shinde on Unsplash.
    background: url(../img/nature.jpg) no-repeat center fixed;
    background-size: cover;

}.app-container {
    background-color: #222;
    margin: 50px 50px 20px 250px;
    border-radius: 25px;
}

.page-container {
    padding: 50px;
    //margin: 5% 0 0 10%;
    //max-width: 80%;
    height: 600px;
    position: relative;

    &#home {
        text-align: center;
    }
    &:not(#home) {
        display: none;
    }
}

.timer-container {
    background-color: rgb(37, 37, 37);
    height: 50vh;
    width: auto;
    border-radius: 0 0 25px 25px;
}

/* don't know what this is
@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; // The width is 100%, when the viewport is 800px or smaller
    }
  }
*/



