.app-container {
    background-color: #222;
    padding-left: 200px;
}

html {
    background: url(../img/nature.jpg) no-repeat center fixed;
    background-size: cover;

}

.page-container {
    margin: auto;

    &#home {
        text-align: center;
    }
    &:not(#home) {
        display: none;
    }
}