@import 'reset';
@import 'layout';
@import 'typography';

@import 'components/navigation';

@import 'components/kanban.scss';
@import 'components/stopwatch.scss';
@import 'components/pomodoro.scss';
@import 'components/dictionary.scss';

// icons retrieved from FontAwesome

/* Stopwatch
https://tinloof.com/blog/how-to-build-a-stopwatch-with-html-css-js-react-part-2/
*/