.form-wrap {
    display: flex;
    justify-content: center;
}

.input-wrap {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

input {
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 35vw;
    outline: none;
}

button {
    background: rgb(0, 255, 191);
    color: #222;
    height: 25px;
    font-size: 16px;
    cursor: pointer;
}

.data-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.loading {
    display: none;
}


.suggested {
    background: rgb(0, 255, 191);
    color: #222;
    padding: 2px 10px;
    border-radius: 4px;
    margin: 5px;
    display: inline-block;
}

.audio {
    margin-top: 20px;
}

