#myKanban {
    overflow-x: auto;
    overflow-y: auto;
    padding: 20px 0;
    display: block
}

  .board1 {
    background: #8b4cff;
    border-radius: 10px 10px 0 0;
  }

  .board2 {
    background: #277eff;
    border-radius: 10px 10px 0 0;
  }

  .board3 {
    background: #80dbff;
    border-radius: 10px 10px 0 0;
  }

  .boardCustom {
    background: #00ffbf;
    border-radius: 10px 10px 0 0;
  }

  .custom-button {
    background-color: rgb(0, 255, 191);
    border: none;
    color: black;
    padding: 7px 12px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px
  }      

.progressBar {
  
}

@media only screen and (max-width: 800px) {
  #myKanban {
  display: flex;
  }
}