/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 25%;
    top: 0;
    width: 50vw; 
    height: 100%; 
    overflow: auto; 
}
  
  /* Modal Content */
.modal-content {
    position: relative;
    background-color: #222;
    margin: auto;
    padding: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
  

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
  /* The Close Button */
.close {
    margin: 0 0 0 0;
    font-size: 28px;
    font-weight: bold;
    width: 100%;
    border-radius: 0 0 5px 5px;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    background-color: rgb(0, 255, 191);
    padding: 2px;
    h2 {
        color: #222;
        font-family: "Roboto";
        font-size: 1.5em;
        text-align: center;
    }
}
  
.modal-body {
    padding: 10px 25px;}
  
.modal-footer {
    background-color: #222;
    color: white;
    border-radius: 0 0 5px 5px;
}
