nav {
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-around;
    list-style: none;
    //align-items: center;
    .nav-links {
        list-style: none;
        text-decoration: none;
        display: flex;
        margin: 0;
        padding: 0;
        .nav-item a {
            display: inline-block;
            text-decoration: none;
            font-family: "Bebas Neue";
            color: white;
            font-size: 1.5rem;
            padding: 0.5em 3em;
            
            &:hover {
                color: rgb(166, 255, 233);
            }
            &.active {
                color: rgb(0, 255, 191);
            }
        }
    }
}

.nav-logo {
    padding: 20px 0 25px;
    margin: 0 20px;
}

.nav-item {
    margin: 0 20px;
}

nav.vertical {
    width: 200px;
    height: 100%;
    //flex-direction: row;
    position: fixed;
    left: 0%;
    top: 0;
    overflow: auto;
    .nav-links {
        flex-direction: column;
        .nav-item a {
            padding: 25px 0 25px 0;
            text-decoration: none;
            font-size: 1.5em;
            i {
             margin: 0 10px 0 0;
            }
        }
    }
}

.sub-nav {
    display: grid;
    align-items: center;
    padding: 10px;
    border-radius: 15px 15px 0 0;
    background-color: #232323;
}



// On screens that are less than 800px wide, make the sidebar into a topbar
@media only screen and (max-width: 800px) {
    nav.vertical {
        width: 100%;
        height: auto;
        position: relative;
        .nav-item a {
            float: left;
            
        }
    }
}


@media only screen and (max-width: 800px) {
    nav .nav-links {
        display: grid;
    }
}

