nav {
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-around;
    align-items: center;
    .nav-links {
        list-style: none;
        display: flex;
        font-weight: bold;
        .nav-item a {
            display: inline-block;
            text-decoration: none;
            font-family: "Roboto";
            color: white;
            padding: 4em 0;
            
            &:hover {
                color: rgb(166, 255, 233);
            }
            &.active {
                color: rgb(0, 255, 191);
            }
        }
    }
}

nav.vertical {
    width: 200px;
    height: 100%;
    flex-direction: row;
    position: fixed;
    left: 0%;
    top: 0;
    .nav-links {
        flex-direction: column;
        .nav-item a {
            display: block;
            padding: 4em 0;
        }
    }
}