.hidden {
  display: none;
}

.pomodoro-timer {
  font-size: 3rem;
}

.pomodoro-container {
  text-align: center;
}

div.progressbar-text {
  font-size: 5vw;
  color: white;
  font-family: "Roboto Mono", monospace; 
}

div#pomodoro-clock {
  align-content: center;;
}


div#pomodoro-clock-actions {
  align-content: center;
}