.timer-container {
    background-color: #232323;
    height: 30vh;
    width: auto;
    border-radius: 0 0 25px 25px;
}

.stopwatch {
    display: grid;
    justify-items: center;
    grid-row-gap: 23px;
    width: 100%;
    padding-top: 25px;
  }

.time {    
    font-family: "Roboto Mono", monospace; 
    color: white;
    background-color: #4c4c4c;
    font-weight: 300;
    font-size: 5vw;
    padding: 15px 50px 15px 50px;
    border-radius: 10px;
}

button {
    font-family: "Roboto";
    background-color: rgb(0, 255, 191); 
    border-radius: 5px;
    border: none; 
    color: white; 
    font-size: 10px; 
    cursor: pointer;

    &:hover {
        background-color: rgb(255, 255, 255);
    }
}

.buttonPlay {
    background-color: rgb(0, 255, 191); 
    border-radius: 5px;
    border: none; 
    margin: 0 5px;
    height: auto;
    cursor: pointer;

    &:hover {
        background-color: rgb(255, 255, 255);
    }
}

.stopwatch-buttons {
    display: flex;
    justify-content: space-between;
}

.buttonPlay img {
    padding: 15px 55px;
}
.buttonReset img {
    padding: 15px 55px;
}

#resetButton {
    width: 1rem;
    display:block
}

#playButton {
    width: 1rem;
    display: block;
}
  
#pauseButton {
    width: 1rem;
    display: none;
}


@media only screen and (max-width: 800px) {
    .time {
        padding: 10px 15px;
    }
}